.Meal {
  display               : grid;
  grid-template-columns : auto auto;
  grid-gap              : .5rem 2rem;
  @media (max-width : 600px) {
    grid-gap : .5rem;
  }

  img {
    width           : 500px;
    height          : auto;
    border-radius   : 1rem;
    grid-column     : 1 / 3;
    object-fit      : cover;
    object-position : 50% 50%;
    @media (max-width : 600px) {
      width  : 300px;
      margin : auto;
    }
  }

  > *:nth-child(2n) {
    text-align : right;
  }
}
